/* REGOLE CSS DEL PROGETTO*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*DEBUG*/
.container-sm, .container-md, .container-lg {
    background-color: chocolate;
    border: solid rgb(19, 146, 224) 2px;
    min-height: 800px;
    width: 100%;
}

.container-fluid {
    background-color: lightgreen;
    border: solid rgb(224, 19, 214) 2px;
    min-height: 200px;
    width: 100%;
}

.row {
    background-color: red;
    min-height: 70px;
}

.row.align-items-center:last-child{
    background-color: purple;
    min-height: 400px;
}

[class*="col-"] {
    background-color: bisque;
    border: solid rgb(72, 255, 0) 2px;
    min-height: 50px;
}

.img-jumbo {
    min-height: 350px;
}

.flex {
    display: flex;
}

.img-portfolio div {
    min-height: 200px;
    justify-content: center;
}

.about-us, .contact-me {
    min-height: 400px;
}

footer .row {
    background-color: black;
}