/* REGOLE CSS DEL PROGETTO*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif, Arial;
}

.bbk {
    background-color: #2c3e50;
}

.bk {
    color: #2c3e50
}

.wh {
    color: white;
}

.bgr {
    background-color: #1abc9c;
}

.flex {
    display: flex;
}

main .container-fluid, main .container-sm, main .container-md, main .container-lg {
    padding: 0;
}

/*HEADER*/

header {
    width: 100%;
    background-color: #2c3e50;
    position: fixed;
}

.navbar, .navbar div {
    padding: 0;
    min-height: 100px;
}

.navbar-toggler {
    border-color: lightgray;
}

/*Jumbotron*/

#jumbo {
    padding: 130px 0 30px;
    color: white;
    text-align: center;
    height: calc(100vh);
}

.img-jumbo img {
    width: 60%;
}

.star {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 1rem;
    font-weight: bold;
}

.img-jumbo h1 {
    margin-top: 1.5rem;
    font-weight: bold;
}

.img-jumbo h5 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    font-weight: 600;
}


/*PORTFOLIO*/

.padding-section {
    padding: 3rem 0;
}

#portfolio img {
    width: 100%;
    border-radius: 15px;
    margin-top: 2rem;
}

.tit-small {
    text-align: center;
    font-weight: bold;
}

/*ABOUT US*/
#about-us, #about-us .star {
    background-color: #1abc9c;
    color: white;
    font-weight: 600;   
}

#about-us p {
    font-size: 1.1rem;
    margin: 1rem 0 2rem;
}

#about-us .col-8 .flex{
    margin: 3rem 0 -1rem;
}

.button {
    width:max-content;
    text-decoration: none;
    color: white;
    background-color: #1abc9c;
    border: solid white 0.1rem;
    border-radius: 10px;
    padding: .5rem 1rem;
    font-size: 1.1rem;    
}

/*Contact me*/

#info {
    margin-top: 1rem;
}

input {
    border: none;
}

hr {
    margin: 1rem 0;
}

#contact-me .flex {
    margin: 7rem 0 -1rem;
    justify-content: flex-end;
}

#last-hr {
    padding: .3rem;
}

textarea {
    width: 100%;
    min-height: 200px;
    border: none;
    border-bottom:solid lightgray 0.05rem;
}


