/* REGOLE CSS DEL PROGETTO*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*DEBUG*/
.container-sm, .container-md, .container-lg {
    background-color: chocolate;
    border: solid rgb(19, 146, 224) 2px;
    min-height: 800px;
}

.container-fluid {
    background-color: lightgreen;
    border: solid rgb(224, 19, 214) 2px;

}

.row {
    background-color: red;
}

[class*="col-"] {
    border: solid rgb(72, 255, 0) 2px;
    min-height: 50px;
}
.flex {
    display: flex;
}

.img-portfolio div {
    min-height: 200px;
    justify-content: center;
}

.about-us, .contact-me, .img-portfolio {
    min-height: 400px;
}

footer .row {
    background-color: black;
}

/*HEADER*/

header .menu {
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
    height: 100px;
    font-size: 1.3rem;
    width: 100%;
    position: fixed;
}

.fa-bars {
    border: solid white;
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
}

.img-jumbo {
    padding-top: 100px;
    height:calc(100vh - 100px);
    color: white;
    text-align: center;
    background-color: #1abc9c;
}

.img-jumbo img {
    width: 50%;
}

.fa-star, .star p {
    font-size: 35px;
}
